<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        {{ message }} 豪棒棒~
        <br>
        雞腿便當 : {{ price }}
        <br>
        數量 : {{ quantity }}
        <br>
        <br>
        總額1 : {{ priceTotalMethods(1) }}
        <br>
        總額2 : {{ priceTotalMethods(1) }}
        <br>
        總額3 : {{ priceTotalMethods(1) }}
        <br>
        <br>
        總額4 : {{ priceTotalComputed }}
        <br>
        總額5 : {{ priceTotalComputed }}
        <br>
        總額6 : {{ priceTotalComputed }}
        <br>
        <br>
        <!-- <p>1 日幣 = 0.23 台幣</p>
        <div>台幣 <input type="text" v-model="twd" v-on:input="twd2jpy"></div>
        <div>日幣 <input type="text" v-model="jpy" v-on:input="jpy2twd"></div> -->

        <p>1 日幣 = 0.23台幣 ; 1美元 = 30.28台幣</p>
        <div>台幣 <input type="text" v-model="twd"></div>
        <div>日幣 <input type="text" v-model="jpy"></div>
        <div>美元 <input type="text" v-model="usd"></div>
    </div>
    
    <script src="main.js"></script>
</body>
</html>