# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache:

.vscode

# Ignore springMVC operation data

springMVC_maven/out
springMVC_maven/target

# Ignore springMVC_maven_webapp operation data

springMVC_maven_webapp/out
springMVC_maven_webapp/target

# Ignore springMVC_withoutMaven operation data

springMVC_withoutMaven/out
springMVC_withoutMaven/target