* {
    margin: 0;
    padding: 0;
}

form {
    padding-left: 30px;
    padding-top: 30px;
}

.st1 {
    width: 900px;
    /* border-bottom: 1px dashed royalblue; */
    margin: 1px;
    padding-bottom: 2px;
}

#divSub {
    padding-top: 5px;
    padding-left: 350px;
    padding-bottom: 5px;
}
fieldset {
    margin-top: 20px;
    margin-left: 20px;
    width: 500px;
    background-color: #ffffff;
    border-radius: 3px;
    border: 2px solid #828282;
}

legend {
    margin-left: 10px;
}

.t1 {
    width: 60px;
    float: left;
    text-align: right;
}