<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue-light</title>
    
    <link rel="stylesheet" href="./assets/main.css">
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        
    </div>

    <div id="app2">
        {{ message }} 豪棒棒~
        <p v-bind:id="customId">...</p>
        <button v-bind:id="btn1Id" v-bind:disabled="isBtnDisabled" onclick="btn()">click me 1</button>
        <button disabled="false" onclick="btn()">click me 2</button>
        <button :id="btn3Id" onclick="btn()">click me 3</button>

        <br>
        <label>Input Message:</label><input v-model="inputMessage" placeholder="I'm empty">


        <p>
            <span>Multiline message is:</span> {{ messageTA }}
        </p>
        <br>
        <textarea v-model="messageTA" placeholder="add multiple lines"></textarea>
        <!-- 雖然會顯示，但不會同步更新 -->
        <br>
        <textarea placeholder="add multiple lines">{{ messageTA }}</textarea>

        <br>
        <select v-model="selected">
            <option disabled value="">請選擇</option>
            <option>台北</option>
            <option>台中</option>
            <option>台南</option>
        </select>
        <br>
        <br>
        <br>

        <p><input v-model.number="amount"></p>
        <p>Count: {{ count }}</p>
        <button @click="plus(amount,$event)">Plus</button>

    </div>



    <script src="main.js"></script>
</body>
</html>