<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue_first_prac2</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        <form @submit.prevent="validateForm()" action="">
            <p v-html="p" :style="fontBlue"></p>
            <fieldset >
                <legend v-text="legend"></legend>
                <div>
                    <label :style="label">帳號：</label>
                    <input type="text" v-model="account">
                    <span :style="error" v-text="acErr"></span>
                </div>
                <div>
                    <label :style="label">密碼：</label>
                    <input type="password" v-model="pwd">
                    <span :style="error" v-text="pwdErr"></span>
                </div>
                <div>
                    <label :style="label">Email：</label>
                    <input type="text" v-model="email">
                    <span :style="error" v-text="emailErr"></span>
                </div>
                <div>
                    <label :style="label">手機：</label>
                    <input type="text" v-model="mobile" maxlength="11">
                    <span :style="error" v-text="mobileErr"></span>
                </div>
                <div class="row" style="text-align: center;">
                    <input type="submit" value="提交">
                </div>
            </fieldset>
        </form>
    </div>

    <script src="./prac2.js"></script>
</body>
</html>