<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue_first_prac2</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        <form onsubmit="return validateForm()" action="">
            <p v-html="p" :style="fontBlue"></p>
            <fieldset >
                <legend v-text="legend"></legend>
                <!-- <li v-for="(value, key, index) in object"> -->
                <div v-for="(value,key) in object" >
                    <label :style="label">{{ value[0] }}</label>
                    <input :type=value[1] :name=key v-model="value.name">
                    <span :style="fontRed" :id=value[2] v-text=value[3]></span>
                    <p>{{ object.account[2] }}</p>
                </div>
                <div class="row" style="text-align: center;">
                    <input type="submit" value="提交">
                </div>
            </fieldset>
        </form>
    </div>

    <script src="./prac2_v2.js"></script>
</body>
</html>